header {
  background-color: lightgreen;
  h1 {
    border-bottom: 2px solid black;
  }
}

main {
  background-color: black;
  box-shadow: inset 0px 5px 5px #888, inset 0px -5px 5px #888;
}

#name-of-item {
  color: rgb(105, 105, 105);
}

#photo-of-item {
  box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

#description {
  color: rgb(105, 105, 105);
  h1 {
    border-bottom: 2px solid rgb(105, 105, 105);
  }
}

footer {
  h1 {
    border-bottom: 2px solid black;
  }
}