$color-1: #fbe20b; // Super Saiyan Yellow
$color-2: #494848; // Outer Space Gray

body {
  background-color: black;
}

header {
  border-bottom: 2px solid white;
  h1 {
    border-bottom: 2px solid white;
    color: $color-1;
  }
}

main {
  background-color: black;
}

#name-of-item {
  color: $color-1;
}

#photo-of-item {
  box-shadow:0 0 10px rgb(255, 255, 255);
}

#description {
  color: white;
  h1 {
    border-bottom: 2px solid white;
    color: $color-1;
  }
}

footer {
  border-top: 2px solid white;
  h1 {
    border-bottom: 2px solid white;
    color: $color-1;
  }
}

.tabs {
  background: black;
  border-top: 2px solid white;
}

.label {
  background-color: black;
  color: white;
}

.label:hover {
  background: white;
  color: black;
}

.input:checked + .label {
  background: $color-2;
  color: $color-1;
}

.panel {
  background-color: $color-2;
  color: white;
}